<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- Servlet Class Definition -->
    <servlet>
        <servlet-name>ListLibraryServlet</servlet-name>
        <servlet-class>com.hagos.view.ListLibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDVDServlet</servlet-name>
        <servlet-class>com.hagos.controller.AddDVDServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping URL -->
    <servlet-mapping>
        <servlet-name>ListLibraryServlet</servlet-name>
        <url-pattern>/listlibraryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDVDServlet</servlet-name>
        <url-pattern>/adddvdservlet.do</url-pattern>
    </servlet-mapping>
    
    <!-- Session Behavior Settings -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- Entry Page -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
